<mat-card style="background-color:snow">

<button mat-button [matMenuTriggerFor]="aboveMenu">Profil</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Perpustakaan Universitas Ahmad Dahlan dirintis bersamaan dengan berdirinya Kursus B1 Muhammadiyah Yogyakarta pada tahun 1957. Pada tahun 1972 terintegrasikan dengan IKIP Muhammadiyah Cabang Yogyakarta yang selanjutnya menjadi IKIP Muhammadiyah Yogyakarta. Berdasarkan Surat Keputusan Menteri Pendidikan dan Kebudayaan nomor: 102/D/1994 IKIP Muhammadiyah Yogyakarta beralih fungsi menjadi Universitas Ahmad Dahlan. Mulai saat itu, berdasarkan Surat Keputusan Rektor Nomor: 31/tahun 2000 yang diberlakukan sejak 9 Agustus 2000 perpustakaan UAD berkedudukan sebagai Unit Pelaksanaan Teknis yang berada langsung dibawah dan bertanggung jawab kepada Rektor. Dengan adanya restrukturisasi di UAD pada tahun 2008, UPT perpustakaan berubah menjadi Pusat Sumber Belajar (PSB) yang bernaung dibawah Lembaga Peningkatan dan Pengembangan Aktivitas Instruksional (LP2AI)</button>
  <button mat-menu-item></button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="belowMenu">Visi</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Menjadi perpustakaan Perguruan Tinggi</button>
  <button mat-menu-item>yang modern berbasis teknologi</button>
  <button mat-menu-item>informasi dengan pelayanan yang</button>
  <button mat-menu-item>cepat, tepat dan mudah</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="beforeMenu">Misi</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Mendukung proses pendidikan, penelitian dan pengembangan berbagai bidang ilmu pengetahuan, serta pengabdian kepada masyarakat</button>
  <button mat-menu-item>Menyediakan informasi dalam rangka proses temu balik informasi</button>
  <button mat-menu-item>Mendorong kesadaran baca bagi lingkungan perguruan tinggi Muhammadiyah dan masyarakat luas</button>
  <button mat-menu-item>Menunjang terwujudnya academic atmosphere dengan menyediakan layanan informasi yang terbaik</button>
</mat-menu>

<img mat-card-image src="/assets/uadperpus.jpg" alt="Photo of a Profile" style="display:block; margin:auto;">
</mat-card>

<div class="row">
    <mat-card style="background-color:tan">
    <mat-card>
	  <div class="col-sm-6">
		  <h2 class="bg-danger text-white" align="right">Kampus 1</h2>
		  <div class="card text-center">
		    <div class="card-header">
		      <ul class="nav nav-tabs card-header-tabs"></ul>
		    </div>
		    <div class="card-body">
		      <mat-icon matListIcon>account_balance</mat-icon>
		      <p class="card-text">Berlokasi di Kampus I, Jln. Kapas 9, Semaki Yogyakarta 55166 phone ext 1171</p>
		    </div>
		  </div>
	  </div>
    </mat-card>
    </mat-card>

    <mat-card style="background-color:tan">
      <mat-card>
      <div class="col-sm-6">
        <h2 class="bg-danger text-white" align="right">Kampus 2</h2>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs"></ul>
          </div>
          <div class="card-body">
            <mat-icon matListIcon>account_balance</mat-icon>
            <p class="card-text">Berlokasi di Kampus II, Jln. Pramuka 42 Yogyakarta 55161 phone ext 2131</p>
          </div>
        </div>
      </div>
      </mat-card>
    </mat-card>

    <mat-card style="background-color:tan">
      <mat-card>
      <div class="col-sm-6">
          <h2 class="bg-danger text-white" align="right">Kampus 3</h2>
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs"></ul>
            </div>
          <div class="card-body">
            <mat-icon matListIcon>account_balance</mat-icon>
             <p class="card-text">Berlokasi di Kampus III, Jln. Prof. Dr. Soepomo, Janturan Yogyakarta 55166 phone ext 3210</p>
          </div>
          </div>
      </div>
      </mat-card>
    </mat-card>

    <mat-card style="background-color:tan">
      <mat-card>
        <div class="col-sm-6">
          <h2 class="bg-danger text-white" align="right">Kampus 4</h2>
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs"></ul>
            </div>
            <div class="card-body">
              <mat-icon matListIcon>account_balance</mat-icon>
              <p class="card-text">Berlokasi di Kampus IV, Jl. Ringroad Selatan, Kragilan Yogyakarta 55191</p>
            </div>
          </div>
        </div>
      </mat-card>
      <br>
        
      <mat-card>
        <div class="col-sm-6">
          <h2 class="bg-danger text-white" align="right">Kampus 5</h2>
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs"></ul>
              </div>
              <div class="card-body">
                <mat-icon matListIcon>account_balance</mat-icon>
                <p class="card-text">Berlokasi di Kampus V, Jl. Ki Ageng Pemanahan 19, Wirosaban Yogyakarta Phone ext 5212</p>
              </div>
            </div>
        </div>
      </mat-card>