<mat-toolbar style="background-color: peru">
<marquee>SELAMAT DATANG DI APLIKASI CORETAN MAHASISWA</marquee>
</mat-toolbar>

<div class="content">
  <mat-card class="mat-elevation-z4" style="background-color:snow">
    <mat-card-header>
    <h2>Deskripsi Aplikasi </h2><hr><hr>
   <h4> Coretan Mahasiswa adalah sebuah aplikasi web yang dapat digunakan oleh mahasiswa untuk membuat Kartu Anggota Perpustakaan. Di dalam aplikasi Coretan Mahasiswa akan memuat data diri calon anggota perpustakaan </h4>
    </mat-card-header>

    <mat-card-header>
    <article>
    <h2>Fitur Coretan Mahasiswa </h2>
    <details>
   <summary>Lihat Selengkapnya</summary>
   <p>(1) Profile, memuat contoh Kartu Tanda Anggota Perpustakaan</p> 
   <p>(2) Folder, memuat halaman untuk mengisi data diri pembuat Kartu Tanda Anggota Perpustakaan</p>
   </details>
   </article>
    </mat-card-header>
    <br>
    <mat-card-header>
    <article>
    <h2>Prosedur dan Alur Pembuatan Kartu Anggota Perpustakaan</h2>
    <details>
    <summary>Lihat Selengkapnya</summary>
      <p>(1) Berstatus sebagai mahasiswa aktif di Kampus</p> 
      <p>(2) Memiliki KTM (Kartu Tanda Mahasiswa)</p> 
      <p>(3) Mengisi data diri melalui aplikasi web Coretan Mahasiswa</p>
      <p>(4) Scan Kartu Tanda Mahasiswa dalam format pdf lalu upload melalui aplikasi web Coretan Mahasiswa </p>  
      <p>(5) Pengambilan foto anggota di Perpustakaan</p> 
      <p>(6) Mengambil Kartu Tanda Anggota Perpustakaan</p>
    </details>
    </article>
    </mat-card-header>

  
    </mat-card>
  </div>