<mat-toolbar style="background-color: peru">
  <h2>DATA DIRI</h2>
</mat-toolbar>

<img mat-card-image src="/assets/uadperpus.jpg" alt="Photo of a Profile" style="display:block; margin:auto;">

<div class="row">
    <mat-card style="background-color:tan">
    <mat-card>
	<div class="col-sm-6">
		<h2 class="bg-danger text-white" align="right">Kampus 1</h2>
		<div class="card text-center">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		    </ul>
		  </div>
		  <div class="card-body">
		    <mat-icon matListIcon>account_balance</mat-icon>
		    <p class="card-text">Berlokasi di Kampus I, Jln. Kapas 9, Semaki Yogyakarta 55166 phone ext 1171</p>
		  </div>
		</div>
	</div>
    </mat-card>
    </mat-card>


    <mat-card style="background-color:tan">
        <mat-card>
        <div class="col-sm-6">
            <h2 class="bg-danger text-white" align="right">Kampus 2</h2>
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                </ul>
              </div>
              <div class="card-body">
                <mat-icon matListIcon>account_balance</mat-icon>
                <p class="card-text">Berlokasi di Kampus II, Jln. Pramuka 42 Yogyakarta 55161 phone ext 2131</p>
              </div>
            </div>
        </div>
        </mat-card>
        </mat-card>

        <mat-card style="background-color:tan">
            <mat-card>
            <div class="col-sm-6">
                <h2 class="bg-danger text-white" align="right">Kampus 3</h2>
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                    </ul>
                  </div>
                  <div class="card-body">
                    <mat-icon matListIcon>account_balance</mat-icon>
                    <p class="card-text">Berlokasi di Kampus III, Jln. Prof. Dr. Soepomo, Janturan Yogyakarta 55166 phone ext 3210</p>
                  </div>
                </div>
            </div>
            </mat-card>
            </mat-card>

        <mat-card style="background-color:tan">
            <div class="row">
                <mat-card>
                <div class="col-sm-6">
                    <h2 class="bg-danger text-white" align="right">Kampus 4</h2>
                    <div class="card text-center">
                      <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                        </ul>
                      </div>
                      <div class="card-body">
                        <mat-icon matListIcon>account_balance</mat-icon>
                        <p class="card-text">Berlokasi di Kampus IV, Jl. Ringroad Selatan, Kragilan, Tamanan, Kec. Banguntapan, Bantul, Daerah Istimewa Yogyakarta 55191</p>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card style="background-color:tan">
            <mat-card>
            <div class="col-sm-6">
                <h2 class="bg-danger text-white" align="right">Kampus 5</h2>
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                    </ul>
                  </div>
                  <div class="card-body">
                    <mat-icon matListIcon>account_balance</mat-icon>
                    <p class="card-text">Berlokasi di Kampus V, Jl. Ki Ageng Pemanahan 19, Wirosaban Yogyakarta Phone ext 5212</p>
                  </div>
                </div>
            </div>
            </mat-card>
            </mat-card>
<router-outlet></router-outlet>